{% extends "base.html" %}
{% block title %}HTMX - {{name}}{% endblock %}
{% block head %}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}
{% block content %}
<h1>{{Name}}</h1>
<p class="important">
    details details
</p>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Album</th>
            <th>Artist</th>
        </tr>
    </thead>
    <tr hx-get="/artist/{{ArtistId}}/tracks" hx-trigger="revealed" hx-swap="outerHTML">
        <td>loading...</td>
    </tr>
</table>
{% endblock %}
